<div class="container">

<footer class="footer">

<small>
  Copyright &copy; <a href="https://project-paulboland242619238.codeanyapp.com"> B4U Blog</a> 
  by <a href="https://project-paulboland242619238.codeanyapp.com">B4U Team</a>
  
  </small>

<nav>

<ul>

<li><%= link_to "About", about_path %></li>

</ul>

</nav>

</footer>

</div>